@model ContestantRegister.ViewModels.HomeViewModels.IndividualContestDetailsViewModel

@using ContestantRegister.Services
@using ContestantRegister.Utils

@inject IUserService UserService
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Contest.Name);
}

<h2>@Html.DisplayFor(model => model.Contest.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contest.Description)
        </dt>
        <dd>
            <markdown content="@Model.Contest.Description"></markdown>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.RegistrationEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.RegistrationEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.ParticipantType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.ParticipantType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.ContestType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.ContestType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.ContestParticipationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.ContestParticipationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.ContestStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.ContestStatus)
        </dd>

    </dl>
</div>

<p>
    @if (User.Identity.IsAuthenticated && Model.Contest.ParticipantType == ParticipantType.Student && UserManager.GetUser(User).UserType == UserType.Pupil)
    {
        <label>Школьники не могут участвовать в студенческих соревнованиях</label>
    }
    else if (Model.Contest.ContestStatus == ContestStatus.RegistrationOpened || Model.Contest.ContestStatus == ContestStatus.ConfirmParticipationOrRegister)
    {
        <a asp-action="Register" asp-route-id="@Model.Contest.Id">Зарегистрироваться</a>
    }

    @if (User.IsInRole(Roles.Admin))
    {
        <a asp-action="Register" asp-route-id="@Model.Contest.Id">Зарегистрировать</a>
    }
</p>

@if (User.Identity.IsAuthenticated && Model.UseRegistrations.Any())
{
    <h4>Мои регистрации</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Участник
                </th>
                <th>
                    Тренер
                </th>
                <th>
                    Руководитель
                </th>
                <th>
                    Учебное заведение
                </th>
                <th>
                    Город
                </th>
                <th>
                    Статус
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UseRegistrations)
            {
                <tr>
                    <td>
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant1Id">@Html.DisplayFor(modelItem => item.Participant1.Surname) @Html.DisplayFor(modelItem => item.Participant1.Name) @Html.DisplayFor(modelItem => item.Participant1.Patronymic)</a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.TrainerId">@Html.DisplayFor(modelItem => item.Trainer.Surname) @Html.DisplayFor(modelItem => item.Trainer.Name) @Html.DisplayFor(modelItem => item.Trainer.Patronymic)</a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.ManagerId">@Html.DisplayFor(modelItem => item.Manager.Surname) @Html.DisplayFor(modelItem => item.Manager.Name) @Html.DisplayFor(modelItem => item.Manager.Patronymic)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyPlace.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyPlace.City.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (item.Contest.ContestStatus == ContestStatus.RegistrationOpened)
                        {
                            <a asp-action="EditRegistration" asp-route-id="@item.Id">Изменить</a>
                            <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить</a>
                        }
                        else if (item.Contest.ContestStatus == ContestStatus.ConfirmParticipation ||
                                 item.Contest.ContestStatus == ContestStatus.ConfirmParticipationOrRegister)
                        {
                            if (item.Status == ContestRegistrationStatus.ConfirmParticipation)
                            {
                                <a asp-action="ConfirmParticipation" asp-route-id="@item.Id">Подтвердить участие</a>
                                <a asp-action="EditRegistration" asp-route-id="@item.Id">Изменить</a>
                                <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить</a>
                            }
                            else // ContestRegistrationStatus.Completed
                            {
                                <a asp-action="EditRegistration" asp-route-id="@item.Id">Изменить</a>
                                <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h4>Участники</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Участник
            </th>
            <th>
                Тренер
            </th>
            <th>
                Руководитель
            </th>
            <th>
                Учебное заведение
            </th>
            <th>
                Город
            </th>
            <th>
                Статус
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contest.ContestRegistrations)
        {
            <tr>
                <td>
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant1Id">@Html.DisplayFor(modelItem => item.Participant1.Surname) @Html.DisplayFor(modelItem => item.Participant1.Name) @Html.DisplayFor(modelItem => item.Participant1.Patronymic)</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.TrainerId">@Html.DisplayFor(modelItem => item.Trainer.Surname) @Html.DisplayFor(modelItem => item.Trainer.Name) @Html.DisplayFor(modelItem => item.Trainer.Patronymic)</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.ManagerId">@Html.DisplayFor(modelItem => item.Manager.Surname) @Html.DisplayFor(modelItem => item.Manager.Name) @Html.DisplayFor(modelItem => item.Manager.Patronymic)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPlace.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPlace.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <a asp-action="ConfirmParticipation" asp-route-id="@item.Id">Подтвердить участие</a>
                        <a asp-action="EditRegistration" asp-route-id="@item.Id">Изменить</a>
                        <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить</a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>