@model ContestantRegister.ViewModels.IndividualContestDetailsViewModel

@{
    ViewData["Title"] = "Контест";
}

<h2>Регистрация на контест</h2>

<h4>@Html.DisplayFor(model => model.Contest.Name)</h4>

@if (User.Identity.IsAuthenticated && Model.UseRegistrations.Any())
{
    <h6>Мои регистрации</h6>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Участник
                </th>
                <th>
                    Тренер
                </th>
                <th>
                    Руководитель
                </th>
                <th>
                    Учебное заведение
                </th>
                <th>
                    Город
                </th>
                <th>
                    Статус
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Contest.ContestRegistrations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Participant1.Name) @Html.DisplayFor(modelItem => item.Participant1.Surname) @Html.DisplayFor(modelItem => item.Participant1.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainer.Name) @Html.DisplayFor(modelItem => item.Trainer.Surname) @Html.DisplayFor(modelItem => item.Trainer.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Name) @Html.DisplayFor(modelItem => item.Manager.Surname) @Html.DisplayFor(modelItem => item.Manager.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPlace.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPlace.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Contest.ContestStatus == ContestStatus.RegistrationOpened)
                    {
                        <a asp-action="EditRegistration" asp-route-id="@item.Id">Изменить</a>
                        <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить</a>
                    }
                    else if (item.Contest.ContestStatus == ContestStatus.ConfirmParticipation ||
                             item.Contest.ContestStatus == ContestStatus.ConfirmParticipationOrRegister)
                    {
                        if (item.Status == ContestRegistrationStatus.ConfirmParticipation)
                        {
                            <a asp-action="ConfirmParticipation" asp-route-id="@item.Id">Подтвердить участие</a>
                            <a asp-action="EditRegistration" asp-route-id="@item.Id">Изменить</a>
                            <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить</a>
                        }
                        else // ContestRegistrationStatus.Completed
                        {
                            <a asp-action="EditRegistration" asp-route-id="@item.Id" asp- >Изменить</a>
                            <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить</a>
                        }
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}




<h6>Все участники</h6>
<table class="table">
    <thead>
        <tr>
            <th>
                Участник
            </th>
            <th>
                Тренер
            </th>
            <th>
                Руководитель
            </th>
            <th>
                Учебное заведение
            </th>
            <th>
                Город
            </th>
            <th>
                Статус
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contest.ContestRegistrations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Participant1.Name) @Html.DisplayFor(modelItem => item.Participant1.Surname) @Html.DisplayFor(modelItem => item.Participant1.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainer.Name) @Html.DisplayFor(modelItem => item.Trainer.Surname) @Html.DisplayFor(modelItem => item.Trainer.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Name) @Html.DisplayFor(modelItem => item.Manager.Surname) @Html.DisplayFor(modelItem => item.Manager.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPlace.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPlace.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>