@model ContestantRegister.Models.Contest

@{
    ViewData["Title"] = "Контест";
}

<h2>Регистрация на контест</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Участник
            </th>
            <th>
                Тренер
            </th>
            <th>
                Руководитель
            </th>
            <th>
                Учебное заведение
            </th>
            <th>
                Город
            </th>
            <th>
                Статус
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContestRegistrations)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Participant1.Name) @Html.DisplayFor(modelItem => item.Participant1.Surname) @Html.DisplayFor(modelItem => item.Participant1.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.Name) @Html.DisplayFor(modelItem => item.Trainer.Surname) @Html.DisplayFor(modelItem => item.Trainer.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Name) @Html.DisplayFor(modelItem => item.Manager.Surname) @Html.DisplayFor(modelItem => item.Manager.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyPlace.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyPlace.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
        }
    </tbody>
</table>