@using ContestantRegister.ViewModels.HomeViewModels
@model ContestantRegister.ViewModels.HomeViewModels.IndividualContestRegistrationViewModel

@{
    ViewData["Title"] = "Изменить регистрационные данные";
}

<h2>@ViewData["Title"]</h2>


<h4>@Html.DisplayFor(model => model.ContestName)</h4>

<p>
    @if (Model.ParticipantType == ParticipantType.Pupil)
    {
        <p>Если вашей школы нет в списке учебных заведений, вы можете предложить администраторам сайта <a asp-action="SuggestSchool">создать новую школу</a>. </p>
        <a asp-route-id="@Model.ContestId" asp-action="RegisterPupil">Зарегистрировать нового участника</a>
    }
    else
    { 
        <p>Если вашего учебного заведения нет в списке, вы можете предложить администраторам сайта <a asp-action="SuggestInstitution">создать его</a>. </p>
        <a asp-route-id="@Model.ContestId" asp-action="RegisterStudent">Зарегистрировать нового участника</a>
    }
    <p><a asp-route-id="@Model.ContestId" asp-action="RegisterTrainer">Зарегистрировать тренера</a></p>
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4></h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            @await Html.PartialAsync("_RegistrationPartial")

            <input type="hidden" asp-for="RegistrationId" />

            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

