@using ContestantRegister.Services

@inject IUserService UserService

@model IEnumerable<Contest>

@{
    ViewData["Title"] = "Контесты для регистрации";
}

<h2>Контесты для регистрации</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestParticipationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestParticipationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestStatus)
                </td>
                <td>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <label>Войдите в систему для регистрации на контест</label>
                    }
                    else if (item.ParticipantType == ParticipantType.Student && UserService.IsPupil(User))
                    {
                        <label>Школьники не могут участвовать в студенческих соревнованиях</label>
                    }
                    else
                    {
                        <a asp-action="Register" asp-route-id="@item.Id">Зарегистрироваться</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>