@using ContestantRegister.Utils

@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Contest>

@{
    ViewData["Title"] = "Соревнования";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestParticipationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ContestType == ContestType.Individual)
                    {
                        <a asp-controller="IndividualContest" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    }
                    else
                    {
                        <a asp-controller="TeamContest" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestParticipationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestStatus)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && item.ParticipantType == ParticipantType.Student && UserManager.GetUser(User).UserType == UserType.Pupil)
                    {
                        <label>Школьники не участвют в студенческих соревнованиях</label>
                    }
                    else if (item.ContestStatus == ContestStatus.RegistrationOpened || item.ContestStatus == ContestStatus.ConfirmParticipationOrRegister)
                    {
                        if (item.ContestType == ContestType.Individual)
                        {
                            <a asp-controller="IndividualContest" asp-action="Register" asp-route-id="@item.Id">Зарегистрироваться</a>
                        }
                        else
                        {
                            <a asp-controller="TeamContest" asp-action="Register" asp-route-id="@item.Id">Зарегистрироваться</a>
                        }

                    }
                    else if (item.ContestStatus == ContestStatus.ConfirmParticipation)
                    {
                        if (item.ContestType == ContestType.Individual)
                        {
                            <a asp-controller="IndividualContest" asp-action="Details" asp-route-id="@item.Id">Подтвердить участие</a>
                        }
                        else
                        {
                            <a asp-controller="TeamContest" asp-action="Details" asp-route-id="@item.Id">Подтвердить участие</a>
                        }

                    }
                </td>
            </tr>
        }
    </tbody>
</table>