@model ContestantRegister.ViewModels.Home.SortingViewModel

@{
    ViewData["Title"] = "Жеребьевка";
}

<h2>@ViewData["Title"]</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="control-label">Площадка</label>
        <select asp-for="SelectedAreaId" onchange="filterCompClasses()" asp-items="ViewBag.Areas" class="form-control"></select>
    </div>

    <div class="form-group">
        <label class="control-label">Комп. классы</label>
        <select asp-for="SelectedCompClassIds" class="form-control"></select>
        <span asp-validation-for="SelectedCompClassIds" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Результаты</label>
        <p>@Html.DisplayFor(m => m.SortingResults)</p>        
    </div>

    <p>Жеребьевка очистит все рабочие места для регистраций выбранной площадки!</p>
    <input type="submit" value="Запустить жеребьевку" class="btn btn-default" />

</form>

<a asp-action="Details" asp-route-id="@Model.Id">Назад к контесту</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<partial-script>
    <script type="text/javascript">
        const serverData = {};
        serverData.compClasses = @Html.RawJson(ViewData["CompClasses"]);

        function filterCompClasses() {
            
            let compClasses = serverData.compClasses;
            const areaId = parseInt($("#SelectedAreaId").val());

            const compClassesSelect = $("#SelectedCompClassIds");
            compClassesSelect.empty();
            compClassesSelect.select2({
                data: compClasses
                    .filter(c => c.AreaId === areaId)
                    .map(c => ({
                        id: c.Id,
                        text: c.Name,
                        selected: c.Selected,
                    }))
            });
        }

        $(document).ready(function () {
            filterCompClasses();
        });

    </script>
</partial-script>
