@model ContestantRegister.Models.ApplicationUser
@using ContestantRegister.Services.DomainServices
@inject IUserService UserService

@{
    ViewData["Title"] = "Пользователь";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @if (User.IsInRole(Roles.Admin))
        {
            <dt>
                @Html.DisplayNameFor(model => model.BaylorEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BaylorEmail)
            </dd>
        }
        <dt>
            Роль
        </dt>
        <dd>
            @Model.UserType.GetDisplayName()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        @if (Model.UserType != UserType.Pupil)
        {
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            if (User.IsInRole(Roles.Admin))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.VkProfile)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.VkProfile)
                </dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.StudyPlace.CityId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyPlace.City.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyPlaceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyPlace.ShortName)
        </dd>
    </dl>
</div>