@model ContestantRegister.ViewModels.Contest.TeamContestDetailsViewModel

@using ContestantRegister.Services
@using ContestantRegister.Utils

@inject IUserService UserService
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Contest.Name);
}

<h2>@Html.DisplayFor(model => model.Contest.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contest.Description)
        </dt>
        <dd>
            <markdown content="@Model.Contest.Description"></markdown>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.RegistrationEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.RegistrationEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.ParticipantType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.ParticipantType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.ContestType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.ContestType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.ContestParticipationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.ContestParticipationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contest.ContestStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contest.ContestStatus)
        </dd>

    </dl>
</div>

<p>
    @if (User.Identity.IsAuthenticated && Model.Contest.ParticipantType == ParticipantType.Student && UserManager.GetUser(User).UserType == UserType.Pupil)
    {
        <label>Школьники не могут участвовать в студенческих соревнованиях</label>
    }
    else if (Model.Contest.ContestStatus == ContestStatus.RegistrationOpened || Model.Contest.ContestStatus == ContestStatus.ConfirmParticipationOrRegister)
    {
        <a asp-action="Register" asp-route-id="@Model.Contest.Id">Зарегистрироваться</a>
    }

    @if (User.IsInRole(Roles.Admin))
    {
        <a asp-action="Register" asp-route-id="@Model.Contest.Id">Зарегистрировать</a>
        <a asp-action="ExportParticipants" asp-route-id="@Model.Contest.Id">Экспорт участников</a>
        <a asp-action="ExportTeams" asp-route-id="@Model.Contest.Id">Экспорт команд</a>
        <a asp-action="ImportParticipants" asp-route-id="@Model.Contest.Id">Импорт CSV</a>
        <a asp-action="ImportFromContest" asp-route-id="@Model.Contest.Id">Импорт участников из контеста</a>
        <a asp-action="Sorting" asp-route-id="@Model.Contest.Id">Жеребьевка</a>
    }
</p>

@if (User.Identity.IsAuthenticated && Model.ParticipantRegistration != null)
{
    <h4>Вы зарегистрированы на соревнование</h4>
    if (Model.Contest.ShowRegistrationInfo)
    {
        <p>
            Данные для входа в проверяющую систему:<br>
            Логин: @Html.DisplayFor(model => Model.ParticipantRegistration.YaContestLogin)<br>
            Пароль: @Html.DisplayFor(model => Model.ParticipantRegistration.YaContestPassword)<br>
            Ссылка для входа: @Html.DisplayFor(model => model.Contest.YaContestLink)<br>
        </p>
    }
}

@if (User.Identity.IsAuthenticated && Model.UserRegistrations.Any())
{
    <h4>Мои регистрации</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Команда
                </th>
                <th>
                    Участник 1
                </th>
                <th>
                    Участник 2
                </th>
                <th>
                    Участник 3
                </th>
                <th>
                    Тренер
                </th>
                <th>
                    Руководитель
                </th>
                @if (Model.Contest.IsOutOfCompetitionAllowed)
                {
                    <th>
                        Вне конкурса
                    </th>
                }
                <th>
                    Учебное заведение
                </th>
                <th>
                    Город
                </th>
                <th>
                    Регистрация
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserRegistrations)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayTeamName)
                </td>
                <td>
                    @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Participant1.FirstName))
                    {
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant1Id">@Html.DisplayFor(modelItem => item.Participant1.FirstName) @Html.DisplayFor(modelItem => item.Participant1.LastName)</a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant1Id">@Html.DisplayFor(modelItem => item.Participant1.Surname) @Html.DisplayFor(modelItem => item.Participant1.Name) @Html.DisplayFor(modelItem => item.Participant1.Patronymic)</a>
                    }
                </td>
                <td>
                    @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Participant2.FirstName))
                    {
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant2Id">@Html.DisplayFor(modelItem => item.Participant2.FirstName) @Html.DisplayFor(modelItem => item.Participant2.LastName)</a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant2Id">@Html.DisplayFor(modelItem => item.Participant2.Surname) @Html.DisplayFor(modelItem => item.Participant2.Name) @Html.DisplayFor(modelItem => item.Participant2.Patronymic)</a>
                    }
                </td>
                <td>
                    @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Participant3.FirstName))
                    {
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant3Id">@Html.DisplayFor(modelItem => item.Participant3.FirstName) @Html.DisplayFor(modelItem => item.Participant3.LastName)</a>

                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant3Id">@Html.DisplayFor(modelItem => item.Participant3.Surname) @Html.DisplayFor(modelItem => item.Participant3.Name) @Html.DisplayFor(modelItem => item.Participant3.Patronymic)</a>
                    }
                </td>
                <td>
                    @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Trainer.FirstName))
                    {
                        <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.TrainerId">@Html.DisplayFor(modelItem => item.Trainer.FirstName) @Html.DisplayFor(modelItem => item.Trainer.LastName)</a>
                    }
                     else
                     {
                         <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.TrainerId">@Html.DisplayFor(modelItem => item.Trainer.Surname) @Html.DisplayFor(modelItem => item.Trainer.Name) @Html.DisplayFor(modelItem => item.Trainer.Patronymic)</a>
                     }
                </td>
                <td>
                     @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Manager?.FirstName))
                     {
                         <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.ManagerId">@Html.DisplayFor(modelItem => item.Manager.FirstName) @Html.DisplayFor(modelItem => item.Manager.LastName)</a>
                     }
                     else
                     {
                         <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.ManagerId">@Html.DisplayFor(modelItem => item.Manager.Surname) @Html.DisplayFor(modelItem => item.Manager.Name) @Html.DisplayFor(modelItem => item.Manager.Patronymic)</a>
                     }
                </td>
               
                @if (Model.Contest.IsOutOfCompetitionAllowed)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.IsOutOfCompetition)
                    </td>
                }
                <td>
                    @if (Model.Contest.IsEnglishLanguage && item.StudyPlace is Institution institution)
                    {
                        @Html.DisplayFor(modelItem => institution.ShortNameEnglish)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.StudyPlace.ShortName)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyPlace.City.Name)
                </td>
                <td>
                    @if (item.Status == ContestRegistrationStatus.Completed)
                    {
                        <span style="color:green">@Html.DisplayFor(modelItem => item.Status)</span>
                    }
                    else
                    {
                        <span style="color:red">@Html.DisplayFor(modelItem => item.Status)</span>
                    }
                </td>
                <td>
                    @if (item.Contest.ContestStatus == ContestStatus.RegistrationOpened ||
                       item.Contest.ContestStatus == ContestStatus.ConfirmParticipation ||
                       item.Contest.ContestStatus == ContestStatus.ConfirmParticipationOrRegister)
                    {
                        <a asp-action="EditRegistration" asp-route-id="@item.Id">Изменить</a>
                        if (item.Status == ContestRegistrationStatus.NotCompleted)
                        {
                            <a asp-action="CompleteRegistration" asp-route-id="@item.Id">Завершить регистрацию</a>
                        }
                        else // ContestRegistrationStatus.Completed
                        {
                            <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить регистрацию</a>
                        }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<h4>Участники</h4>

@if (User.IsInRole(Roles.Admin))
{
    <p>Количество: @Model.ContestRegistrations.Count</p>
    <form asp-action="Details" method="get">
        <div class="form-actions no-color">
            <p>
                Уч. Ф<input type="text" name="ParticipantName" value="@ViewData["ParticipantName"]" />
                Тренер Ф<input type="text" name="TrainerName" value="@ViewData["TrainerName"]" />
                Рук. Ф<input type="text" name="ManagerName" value="@ViewData["ManagerName"]" />
                Уч. зав.<input type="text" name="StudyPlace" value="@ViewData["StudyPlace"]" />
                Город<input type="text" name="City" value="@ViewData["City"]" />
                Площадка<input type="text" name="Area" value="@ViewData["Area"]" />
                Статус<input type="text" name="Status" value="@ViewData["Status"]" />
                <input type="submit" value="Искать" class="btn btn-default" /> |

                <a asp-action="Details">Очистить</a>
            </p>
        </div>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Команда
            </th>            
            <th>
                Участник 1
            </th>
            <th>
                Участник 2
            </th>
            <th>
                Участник 3
            </th>
            <th>
                Тренер
            </th>
            <th>
                Руководитель
            </th>
            @if (Model.Contest.IsOutOfCompetitionAllowed)
            {
                <th>
                    Вне конкурса
                </th>
            }
            <th>
                Учебное заведение
            </th>
            <th>
                Город
            </th>
            @if (Model.Contest.IsAreaRequired)
            {
                <th>
                    Площадка
                </th>
            }
            <th>
                Регистрация
            </th>
            @if (User.IsInRole(Roles.Admin))
            {
                <th>
                    Раб. место
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContestRegistrations.OrderBy(r => r.Number))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayTeamName)
            </td>
            <td>
                @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Participant1.FirstName))
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant1Id">@Html.DisplayFor(modelItem => item.Participant1.FirstName) @Html.DisplayFor(modelItem => item.Participant1.LastName)</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant1Id">@Html.DisplayFor(modelItem => item.Participant1.Surname) @Html.DisplayFor(modelItem => item.Participant1.Name) @Html.DisplayFor(modelItem => item.Participant1.Patronymic)</a>
                }
            </td>
            <td>
                @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Participant2.FirstName))
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant2Id">@Html.DisplayFor(modelItem => item.Participant2.FirstName) @Html.DisplayFor(modelItem => item.Participant2.LastName)</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant2Id">@Html.DisplayFor(modelItem => item.Participant2.Surname) @Html.DisplayFor(modelItem => item.Participant2.Name) @Html.DisplayFor(modelItem => item.Participant2.Patronymic)</a>
                }
            </td>
            <td>
                @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Participant3.FirstName))
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant3Id">@Html.DisplayFor(modelItem => item.Participant3.FirstName) @Html.DisplayFor(modelItem => item.Participant3.LastName)</a>

                }
                else
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.Participant3Id">@Html.DisplayFor(modelItem => item.Participant3.Surname) @Html.DisplayFor(modelItem => item.Participant3.Name) @Html.DisplayFor(modelItem => item.Participant3.Patronymic)</a>
                }
            </td>
            <td>
                @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Trainer.FirstName))
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.TrainerId">@Html.DisplayFor(modelItem => item.Trainer.FirstName) @Html.DisplayFor(modelItem => item.Trainer.LastName)</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.TrainerId">@Html.DisplayFor(modelItem => item.Trainer.Surname) @Html.DisplayFor(modelItem => item.Trainer.Name) @Html.DisplayFor(modelItem => item.Trainer.Patronymic)</a>
                }
            </td>
            <td>
                @if (Model.Contest.IsEnglishLanguage && !string.IsNullOrEmpty(item.Manager?.FirstName))
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.ManagerId">@Html.DisplayFor(modelItem => item.Manager.FirstName) @Html.DisplayFor(modelItem => item.Manager.LastName)</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="UserDetails" asp-route-id="@item.ManagerId">@Html.DisplayFor(modelItem => item.Manager.Surname) @Html.DisplayFor(modelItem => item.Manager.Name) @Html.DisplayFor(modelItem => item.Manager.Patronymic)</a>
                }
            </td>
            @if (Model.Contest.IsOutOfCompetitionAllowed)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsOutOfCompetition)
                </td>
            }
            <td>
                @if (Model.Contest.IsEnglishLanguage && item.StudyPlace is Institution institution)
                {
                    @Html.DisplayFor(modelItem => institution.ShortNameEnglish)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.StudyPlace.ShortName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyPlace.City.Name)
            </td>
            @if (Model.Contest.IsAreaRequired)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ContestArea.Area.Name)
                </td>
            }
            <td>
                @if (item.Status == ContestRegistrationStatus.Completed)
                {
                    <span style="color:green">@Html.DisplayFor(modelItem => item.Status)</span>
                }
                else
                {
                    <span style="color:red">@Html.DisplayFor(modelItem => item.Status)</span>
                }
            </td>
            @if (User.IsInRole(Roles.Admin))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ComputerName)
                </td>
            }
            <td>
                @if (User.IsInRole(Roles.Admin))
                {
                    <a asp-action="CompleteRegistration" asp-route-id="@item.Id">Завершить регистрацию</a>
                    <a asp-action="CancelRegistration" asp-route-id="@item.Id">Отменить регистрацию</a>
                    <a asp-action="EditRegistration" asp-route-id="@item.Id">Изменить</a>
                    <a asp-action="DeleteRegistration" asp-route-id="@item.Id">Удалить</a>
                }
            </td>
        </tr>
        }

    </tbody>
</table>