@model ContestantRegister.Models.Contest

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RegistrationEnd" class="control-label"></label>
    <input asp-for="RegistrationEnd" class="form-control apply-datetimepicker" type="text" />
    <span asp-validation-for="RegistrationEnd" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Start" class="control-label"></label>
    <input asp-for="Start" class="form-control apply-datetimepicker" data-date-only type="text" />
    <span asp-validation-for="Start" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Duration" class="control-label"></label>
    <input asp-for="Duration" class="form-control" />
    <span asp-validation-for="Duration" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ParticipantType" class="control-label"></label>
    <select asp-for="ParticipantType" asp-items="Html.GetEnumSelectList<ParticipantType>()" class="form-control"></select>
    <span asp-validation-for="ParticipantType" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ContestType" class="control-label"></label>
    <select asp-for="ContestType" asp-items="Html.GetEnumSelectList<ContestType>()" class="form-control"></select>
    <span asp-validation-for="ContestType" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ContestParticipationType" class="control-label"></label>
    <select asp-for="ContestParticipationType" asp-items="Html.GetEnumSelectList<ContestParticipationType>()" class="form-control"></select>
    <span asp-validation-for="ContestParticipationType" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="IsArchive" /> @Html.DisplayNameFor(model => model.IsArchive)
        </label>
    </div>
</div>
<div class="form-group">
    <label asp-for="ContestStatus" class="control-label"></label>
    <select asp-for="ContestStatus" asp-items="Html.GetEnumSelectList<ContestStatus>()" class="form-control"></select>
    <span asp-validation-for="ContestStatus" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="IsEnglishLanguage" /> @Html.DisplayNameFor(model => model.IsEnglishLanguage)
        </label>
    </div>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="IsProgrammingLanguageNeeded" /> @Html.DisplayNameFor(model => model.IsProgrammingLanguageNeeded)
        </label>
    </div>
</div>
<div class="form-group">
    <label asp-for="YaContestLink" class="control-label"></label>
    <input asp-for="YaContestLink" class="form-control" />
    <span asp-validation-for="YaContestLink" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="SendRegistrationEmail" /> @Html.DisplayNameFor(model => model.SendRegistrationEmail)
        </label>
    </div>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="ShowRegistrationInfo" /> @Html.DisplayNameFor(model => model.ShowRegistrationInfo)
        </label>
    </div>
</div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="IsAreaRequired" /> @Html.DisplayNameFor(model => model.IsAreaRequired)
        </label>
    </div>
</div>
<div class="form-group">
    <label asp-for="Areas" class="control-label"></label>
    <textarea asp-for="Areas" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Areas" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="YaContestAccountsCSV" class="control-label"></label>
    <textarea asp-for="YaContestAccountsCSV" class="form-control" rows="10"></textarea>
    <span asp-validation-for="YaContestAccountsCSV" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UsedAccountsCount" class="control-label"></label>
    <input asp-for="UsedAccountsCount" class="form-control" />
    <span asp-validation-for="UsedAccountsCount" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RegistrationsCount" class="control-label"></label>
    <input asp-for="RegistrationsCount" class="form-control" />
    <span asp-validation-for="RegistrationsCount" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SelectedCompClassIds" class="control-label"></label>
    <select asp-for="SelectedCompClassIds" class="form-control apply-select2" asp-items="ViewBag.CompClasses" multiple="multiple"></select>
    <span asp-validation-for="SelectedCompClassIds" class="text-danger"></span>
</div>