@model IEnumerable<ContestantRegister.Models.Contest>

@{
    ViewData["Title"] = "Контесты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Контесты</h2>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestParticipationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsArchive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestParticipationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
                <a asp-action="ImportParticipants" asp-route-id="@item.Id">Импорт участников</a>
            </td>
        </tr>
}
    </tbody>
</table>
