@model IEnumerable<ContestantRegister.Models.School>

@{
    ViewData["Title"] = "Школы";
}

<h2>Школы</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Краткое название<input type="text" name="ShortName" value="@ViewData["shortNameFilter"]" />
            Город<input type="text" name="City" value="@ViewData["cityFilter"]" />
            
            <input type="submit" value="Искать" class="btn btn-default" /> |

            <a asp-action="Index">Очистить</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
