
@model IEnumerable<ApplicationUser>

@inject ContestantRegister.Services.IUserService UserService

@{
    ViewData["Title"] = "Пользователи";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Email<input type="text" name="Email" value="@ViewData["Email"]" />
            Подтвержден<input type="number" name="EmailConfirmed" value="@ViewData["EmailConfirmed"]" />
            Фамилия<input type="text" name="Surname" value="@ViewData["Surname"]" />
            Имя<input type="text" name="Name" value="@ViewData["Name"]" />
            Город<input type="text" name="City" value="@ViewData["City"]" />
            Учеб. завед.<input type="text" name="StudyPlace" value="@ViewData["StudyPlace"]" />
            Роль<input type="text" name="UserTypeName" value="@ViewData["UserTypeName"]" />
            <input type="submit" value="Искать" class="btn btn-default" /> |

            <a asp-action="Index">Очистить</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Подтвержден</th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Роль
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyPlace.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyPlaceId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @item.UserType.GetDisplayName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyPlace.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyPlace.ShortName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
                <a asp-action="ChangePassword" asp-route-id="@item.Id">Установить пароль</a>
            </td>
        </tr>
        }
    </tbody>
</table>
